{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h3 class="card-title text-primary">Article Title</h3>
            <h6 class="card-subtitle mb-3 text-muted">Publikováno: 1. 1. 2024</h6>
            <p class="card-text text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, id corporis reiciendis cupiditate architecto deserunt
                placeat nostrum necessitatibus sequi voluptate assumenda at sunt
                natus doloremque perferendis odio enim ab molestiae ullam earum
                nesciunt! Beatae delectus commodi quas dolores modi dolorem expedita
                labore facere blanditiis error a natus maiores iste, sint accusantium
                nam nobis atque possimus ipsam sed recusandae vero porro.
                Voluptatum et tenetur ut laudantium corrupti tempore, veritatis
                ex suscipit illum enim perspiciatis, eligendi error neque beatae
                in itaque maiores ab autem, ipsa maxime?
                Laborum minus laudantium inventore expedita iste, totam ipsa quas?
                Unde suscipit explicabo dolores ab voluptatibus a!
            </p>
        </div>
    </div>
</div>
{% endblock %}